html {
  font-size: 16px;
}
header {
  display: flex;
  height: 64px;
  width:auto;
  background-color: white;

}
a {
   text-decoration: none;
   font-size: 1.5rem;
}
.logo {
  display: flex;
  margin-left: 24px;
  align-items: center;
  width:auto;
}
.colmar {
  display: flex;
  align-items: center;
  width: 100%;

}
.flex-end {
  display: flex;
  align-items: center;
}
.flex-end nav{

  display: flex;
  White-space: nowrap;
  width:100%;
  justify-content: flex-end;

}

nav li {
  margin-right: 16px;
}
nav li:last-child {
  margin-right: 24px;
}
.flex-end li {
    list-style-type: none;
}
.banner {
  display:flex;
  width: 100%;
  height: 764px;
  background-color: grey;
}
.ban-state {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}
.first-pic {
  border: 2px solid black;
  width: 50%;
  height: 700px;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 32px 24px;
}
.learn {
padding-top: 150px;
/*container 2*/
}
.container2 {
  display:flex;
  width: 100%;
  height: 855px;
  background-color: white;


}
.container2-A {
  height: 100%;
  width: 60%;
  background-color: silver;


}
.orientation {
  height: 90%;
  width:40%;
  background-color: inherit;

}
.orientation-date {
  display:inline-flex;
  width: 100%;
  height: auto;

}
.orientation-date img{
  width: 35%;
  height: auto;

}

.campus {
  display:inline-flex;
  width: 100%;
  height: auto;
}
.campus img{
  width: 35%;
  height: auto;
}

.campus-text {
  display flex:
  align-items: center;
}
.campus-text h2 {

  padding-top: 60px

}
.campus-text h3 {

  padding: 8px 8px;
  text-align: center;
}

.guest {
  display:inline-flex;
  width: 100%;
  height: auto;
}

.guest img{
  width: 35%;
  height:auto;

}

.practice {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 550px;
  background-image: url("../images/information-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 32px 24px;
}
.practice span{
  display: block;
  justify-content: flex-end;
}


.start-btn {
  display: flex;
  background-color: brown;
  color: white;
  width: 100%;
  height: 32px;
  line-height: 2 rem;

}
.start-btn span {

  display: flex;
  margin: 0 auto;
  padding-top: 0.5rem;
}

/*container 3 start learning*/
.container3 {
  display:block;
  flex-direction: row;
  width: 100%;
  height: 1300px;
  background-color: grey;

}
.start-learning {
display:block;
height: 88px;
width: 100%;
padding-top: 2rem;
padding-bottom: 2rem;
background-color: yellow;
text-align: center;
display:table;

}
.start-learning span {
 display:table-cell;
 vertical-align:middle;
 font-size: 1.5rem
}



.course-box {
height: 1100px;
margin: 0rem 4.5rem;
}
.course-top {
display:flex;
width: 100%;
height: 50%;
border: solid black;
}
.course-btm {
  display:flex;
  width: 100%;
  height: 50%;
  border: solid black;
}

.top-bot {

  margin-top: 32px;
  margin-bottom: 32px;

}
.course-size {
  height:auto;
  flex: 1;
  border: 1px solid black;
}
.course-size img {
  width: 100%;
  height: auto%;

}
.container4 {
  width: 100%;
  height: 1300px;
  background-color: white;
}

.thesis {
  display: block;
  height: 88px;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: yellow;
  text-align: center;
  display:table;

}

.thesis span{
  display:table-cell;
  vertical-align:middle;
  font-size: 1.5rem
}
.cont4-wrap {
  display: flex;
  height: 1200px;
  width: 100%;
  margin-left: 1.5rem;
}
.vids {
height: auto;
width: 60%;
border: 1px solid black;
}
.vids video {
  width: 100%
  height:50%;
}
.fisma-wrap {
  height: 100%;
  width: 40%;
  border: 1px solid black;
}

.left-right {
margin-left: 24px;
margin-right: 24px;
}
 h1{
  font-size: bold;
  font-size: 3.2rem;
}
h2{
  font-size: bold;
  font-size: 2rem;
}
h3 {
  font-size: bold;
  font-size: 1.5rem;
}
h4 {

}
footer {
  background-color: pink;
  height: 100px;

}
