html {
  font-size: 16px;

}
header {
  display: flex;
  height: 64px;
  flex-basis:auto;
  background-color: white;

}

a {
   text-decoration: none;
   font-size: 1.5rem;
   color: #0d1a26;
   padding-left: 0.5rem;

}
a:hover{

  color:   #cc9900;
}
.logo {
  display: flex;
  margin-left: 24px;
  align-items: center;
  flex-basis:auto;
}
.colmar {
  display: flex;
  align-items: center;
  flex-basis:100%;

}
.flex-end {
  display: flex;
  align-items: center;
}
.flex-end nav{

  display: flex;
  White-space: nowrap;

  justify-content: flex-end;

}

nav li {
  display: flex;
  margin-right: 16px;
  font-size: 1.5rem;
}
nav li:last-child {
  margin-right: 0px;
}
.flex-end li {
    list-style-type: none;
}
.banner {
  width: 100%;
  height: auto;
}
.first-pic {
  width:100%;
  height: auto;


}
.first-pic img{
  width: 100%;
  height: 100%;
}

.ban-state {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;

}
.learn {
padding-top: 100px;
padding-left: 1.5rem;

flex-basis:40%;


}
.learn h2{
  color: white;
}

.start-btn {
  display: flex;
  background-color:#193F56;
  color: white;
  width: 50%;
  height: 60px;
  opacity: 0.8;
  transition-property: background-color;
  transition-duration: 750ms;

}

.start-btn:hover {
  background-color: #132639;
}

.start-btn span {

  display: flex;
  margin: auto;
  font-size: 2rem;

}

/*container 2*/

.container2 {
  display: block;
  width: 100%;
  height: auto;
  color: #193F56;

}
.container2-A {
  display: none;
}
.container2-A img {
  display: none;
}


.orientation {
  width: 100%
  display:block
  margint-right 1rem;
  margin-left: 1rem;

}


.orientation-date {
  display: block;

  height: auto%;
  width: 100%;



}
.orientation-date img{
  width: 100%;
  height: 100%;

}

.campus {
  display: block;
  flex-basis:auto;
  height: auto;
}
.campus img{
  width: 100%;
  height: auto;
}

.campus-text {
  display flex:
  justify-content:start;
}
.campus-text h2 {

  padding-top: 60px

}
.campus-text h3 {

  padding: 8px 8px;

}

.guest {
display: block;
  flex-basis:auto;
  height: auto;

}

.guest img{
  width: 100%;
  height:auto;

}
.campus-text h3{
  line-height: 1.5rem;
}

.practice span{
  display: block;
  justify-content: flex-end;
}



/*container 3 start learning*/
.container3 {
  display:block;
  flex-basis:auto;
  height: 1215px;
  background-color: #CEE8F4;

}
.start-learning {
display:block;

display:table;
color:white;

}
.start-learning span {
 display:table-cell;
 vertical-align:middle;
 font-size: 1.5rem
}

.mob {

display:flex;
flex-direction: column;
justify-content: space-between;
background-color: white;
height: 8rem;

}
.mob div {
  display: flex;
  background-color: grey;
  height:2rem;

}
.mob div span {
  display: flex;
  margin: auto;
  font-size: 1rem;
}

.course-box {
display:none;

/*margin: 0rem 4.5rem;*/



}
.course-top {
display:flex;
flex-basis:auto;
height: 50%;


}
.course-btm {
  display:flex;
  flex-basis:auto;
  height: 50%;
}
.top-bot {

  margin-top: 32px;
  margin-bottom: 32px;
}
.course-size {
  height:auto;
  flex: 1;
  margin-right: 2rem;
  justify-content: space-between;
  background-color: white;


}

.course-size h1 {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem:
}

.course-size h2 {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem:
}
.course-size span
#margint-right {
  margin-right: 0px;

}

.course-size img {
  width:100%;
  height: auto;

}

.course-size h3 {
  font-size: bold;
  font-weight: bold;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: : 0.5rem;
}

/*contaiiner4*/
.container4 {
  width: 100%;
  height: auto;
  background-color: white;
}

.thesis {
  display: block;
  height: 88px;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  display:table;

}

.thesis span{
  display:table-cell;
  vertical-align:middle;
  font-size: 1.5rem
}
.cont4-wrap {
  display: flex;
  height: auto;
  flex-basis:auto;
  margin-left: 1.5rem;

}
.vids {
height: auto;
width: 60%;
margin-right: 24px;

}

.vids video {
  width: 100%;
  height:auto;
}

.vids-text p{
margin-top: 0.5rem;
margin-bottom: 2rem;
font-size: 1.2rem;
}

.fisma-wrap {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
    flex-basis:40%;
  background-color: #CEE8F4;
  margin-right: 0.5rem;


}
.fisma {
  display:flex;
  height: auto;
  margin: 16px 0px;

}
.now-and-then {
  display: flex;
  height: auto;

}
.cont4-text {
height: auto;
width: auto;
margin-left: 1rem;
}
.cont4-text p {
  padding-top: 1.5rem;
}

.left-right {
margin-left: 24px;
margin-right: 24px;
}
p {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;}
 h1{
   font-weight: bold;
  font-size: bold;
  font-size: 3.2rem;
  color: #193F56;
  font-family: 'Source Serif Pro', serif;
}
h2{
  font-style: bold;
    font-weight: bold;
  font-size: 2rem;
    color: #193F56;

  font-family: 'Lato', sans-serif;
}
h3 {
  font-style: bold;
  color: #193F56;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
}
h4 {
  padding-left: 1rem;
  font-family: 'Lato', sans-serif;
  color: #193F56;
  font-size: 1.3rem;

}
.orientation h2 {

}
footer {
  display: flex;
  height: 100px;
  flex-basis:auto;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: #98B8CB;

  color: white;
}
footer div{
  padding-right: 1.5rem;
    margin-left:auto; margin-right:0;
}
.left-right p{
  margin: 1.5rem 0rem;
  line-height: 1.5rem;
}
.left-right h1 {
  margin-top: 2rem

}
@media (min-width: 400px) {
  .banner {
      display:flex;
      background-color: #98B8CB

  }
  .first-pic {
    flex:6;
    height: 600px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 32px;
    margin-bottom: 32px;

  }
.container2 {
    display: flex;
    width: 100%;
    height:auto;
}
.container2-A {
  display:block;
  height:auto;
  flex-basis:60%;
}
.container2-A img {
  display: block;
  width: 100%;
  height: auto%;
}

.orientation{
  display:block:
  height: auto;
  width: 40%;
  background-color: inherit;
  color: #193F56;
}
.orientation-date{
  display:inline-flex;
}
.orientation-date img{
  width: 35%;
  height: auto;

}
.campus{
  display:inline-flex;

}
.campus img{
  width: 35%;
  height: auto;

}

.guest {

    display:inline-flex;
  }

  .guest img{
    width: 35%;
    height: auto;

  }

  .course-box {
    display:block;
    margin-bottom: 32px;
    height: 1000px;
    margin-left: 1.5rem;

  }
.mob {
display:none;

}
.start-learning {
  height: 88px;
  width:100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
}
