html {
  font-size: 16px;
}
header {
  display: flex;
  height: 64px;
  width:auto;
  background-color: yellow;

}

.logo {
  display: flex;
  margin-left: 24px;
  align-items: center;
  width:auto;
}
.colmar {
  display: flex;
  align-items: center;
  width: 100%;

}
.flex-end {
  display: flex;
  align-items: center;
}
.flex-end nav{

  display: flex;
  White-space: nowrap;
  width:100%;
  justify-content: flex-end;

}

nav li {
  margin-right: 16px;
}
nav li:last-child {
  margin-right: 24px;
}
.flex-end li {
    list-style-type: none;
}
.banner {
  display:flex;
  width: 100%;
  height: 764px;
  border:2px solid black;
}
.first-pic {
  border: 2px solid black;
  width: 50%;
  height: 700px;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 32px 24px;
}
.container2 {
  display:flex;
  width: 100%;
  height: 743px;
  border:2px solid black;

}
.container2-A {
  height: 100%;
  width:60%;
  background-color: yellow;
}
.orientation {
  height: 100%;
  width:40%;
  border: 2px solid black;
  background-color: blue;

}
.orientation-date {
  width: 100%;
  height:33%;
  border: 2px solid black;
}
.campus {
  width: 100%;
  height:33%;
  border: 2px solid black;
}
.guest {
  width: 100%;
  height:33%;
  border: 2px solid black;
}

.container3 {
  width: auto;
  height: 933px;
  background-color: grey;

}

.all-course {
  height: 766px;
  width:100%;
  background-color: red;
}
.practice {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  width: 60%;
  height: 466px;
  background-image: url("../images/information-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 32px 24px;
}
.practice span{
  display: block;
  justify-content: flex-end;
}
.learn {
padding-top: 150px;

}
.start-btn {
  dispaly: flex;
  background-color: brown;
  color: white;
  width: 100%;
  height: 32px;
  line-height: 2 rem;

}
.start-btn span {
  display: flex;
  justify-content: center;
}


.keep-practicing {
  width: 100%;
  height:33%;
  border: 2px solid black;
}

.start-learning {
dispaly: block;
height: 88px;
width: 100%;
background-color: white
}

.container4{
  width: auto;
  height: 933px;
  background-color: orange;
}

.course-top {

}
.course-btm {

}
.course-box {

}
.top-bot {
  margin-top: 32px;
  margin-bottom: 32px;

}
.left-right {
margin-left: 24px;
margin-right: 24px;
}
 h1{
  font-size: bold;
  font-size: 3.2rem;
}
h2{
  font-size: bold;
  font-size: 1.5rem;
}
h3 {

}
h4 {

}
footer {
  background-color: pink;
  height: 100px;

}
