html {
  font-size: 16px;
}
header {
  display: flex;
  height: 64px;
  width:auto;
  background-color: white;

}
a {
   text-decoration: none;
   font-size: 1.5rem;
}
.logo {
  display: flex;
  margin-left: 24px;
  align-items: center;
  width:auto;
}
.colmar {
  display: flex;
  align-items: center;
  width: 100%;

}
.flex-end {
  display: flex;
  align-items: center;
}
.flex-end nav{

  display: flex;
  White-space: nowrap;
  width:100%;
  justify-content: flex-end;

}

nav li {
  margin-right: 16px;
}
nav li:last-child {
  margin-right: 24px;
}
.flex-end li {
    list-style-type: none;
}
.banner {
  display:flex;
  width: 100%;
  height: 764px;
  background-color: grey;
}
.ban-state {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}
.first-pic {
  border: 2px solid black;
  width: 50%;
  height: 700px;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 32px 24px;
}
.learn {
padding-top: 150px;

}
.container2 {
  display:flex;
  width: 100%;
  height: 743px;
  background-color: white;


}
.container2-A {
  height: 100%;
  width: 60%;
  background-color: inherit;


}
.orientation {

  height: 100%;
  width:40%;
  background-color: inherit;

}
.orientation-date {
  display:inline-flex;
  width: 100%;
  height: auto;

}
.orientation-date img{
  width: 35%;
  height: auto;

}

.campus {
  display:inline-flex;
  width: 100%;
  height: auto;
}
.campus img{
  width: 35%;
  height: auto;
}

.campus-text {
  display flex:
  align-items: center;
}
.campus-text h2 {

  padding-top: 60px

}
.campus-text h3 {

  padding: 8px 8px;
  text-align: center;
}

.guest {
  display:inline-flex;
  width: 100%;
  height: auto;
}

.guest img{
  width: 35%;
  height:auto;

}


.container3 {
  width: auto;
  height: 933px;
  background-color: grey;

}

.all-course {
  height: 766px;
  width:5%;
  background-color: light grey;
}
.practice {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 550px;
  background-image: url("../images/information-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 32px 24px;
}
.practice span{
  display: block;
  justify-content: flex-end;
}


.start-btn {
  display: flex;
  background-color: brown;
  color: white;
  width: 100%;
  height: 32px;
  line-height: 2 rem;

}
.start-btn span {

  display: flex;
  margin: 0 auto;
  padding-top: 0.5rem;


}




.start-learning {
dispaly: block;
height: 88px;
width: 100%;
background-color: white
}

.container4{
  width: auto;
  height: 933px;
  background-color: white;
}

.course-top {

}
.course-btm {

}
.course-box {

}
.top-bot {
  margin-top: 32px;
  margin-bottom: 32px;

}
.left-right {
margin-left: 24px;
margin-right: 24px;
}
 h1{
  font-size: bold;
  font-size: 3.2rem;
}
h2{
  font-size: bold;
  font-size: 2rem;
}
h3 {
  font-size: bold;
  font-size: 1.5rem;
}
h4 {

}
footer {
  background-color: pink;
  height: 100px;

}
